<div class="container-fluid top-bar">
  <div class="row align-items-center">
    <div class="col-12 text-right">

      <!--div class="fb-like" data-href="https://www.facebook.com/marceroffe" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div-->
      <a href="https://www.youtube.com/user/roffevideos" target="_blank">
        <img src="assets/img/youtube.png" height="22px" alt="">
      </a>
      <mr-media-item *ngFor="let media of mediaItems" [mediaData]=media></mr-media-item>
    </div>
  </div>
</div>
