<nav class="navbar navbar-dark navbar-expand-lg">

  <button #navbarToggler class="navbar-toggler mt-2 mb-2" type="button" data-toggle="collapse" data-target="#navbar-mr" aria-controls="navbar-mr" aria-expanded="false" aria-label="Secciones" style="cursor: pointer;">
    <span class="navbar-toggler-icon m-1"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbar-mr">

    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link" routerLink="/" (click)="collapseNav()">Inicio</a>
      <a class="nav-item nav-link" routerLink="/sobre-mr" (click)="collapseNav()">Sobre MR</a>
      <a class="nav-item nav-link" routerLink="/articulos" (click)="collapseNav()">Artículos</a>
      <a class="nav-item nav-link" routerLink="/libros" (click)="collapseNav()">Libros</a>
      <a class="nav-item nav-link" routerLink="/cursos" (click)="collapseNav()">Cursos</a>
      <a class="nav-item nav-link" routerLink="/medios" (click)="collapseNav()">MR en los Medios</a>
      <a class="nav-item nav-link" routerLink="/fotogaleria" (click)="collapseNav()">Fotogalería</a>
      <a class="nav-item nav-link" routerLink="/videoteca" (click)="collapseNav()">Videoteca</a>
      <a class="nav-item nav-link" routerLink="/conferencias" (click)="collapseNav()">Conferencias</a>
      <a class="nav-item nav-link" routerLink="/servicios" (click)="collapseNav()">Servicios</a>
      <a class="nav-item nav-link" routerLink="/staff" (click)="collapseNav()">Staff</a>
      <a class="nav-item nav-link" routerLink="/clientes" (click)="collapseNav()">Clientes</a>
      <a class="nav-item nav-link" routerLink="/contacto" (click)="collapseNav()">Contacto</a>
    </div>

  </div>
  
</nav>