.navbar {
    background-color: #CF392B;
    background: radial-gradient(at bottom left, #CF392B, #B43025);
    border-top: 1px solid rgb(201, 44, 33);
    border-bottom: 1px solid rgb(172, 28, 23);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.30px;
    padding: 0 0 0 15px;
} 

.navbar-nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 12px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.navbar-nav a:before {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.2;
    transition: all 0.3s;
}

div.navbar-nav a:hover:before {
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 639px) {
    
    .navbar-nav a {
        padding: 8px 8px;
        font-size: 12px;
    }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
    
    .navbar-nav a {
        padding: 9px 9px;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .navbar-nav a {
        padding: 10px 10px;
    }
}