<div class="container-fluid">
  <div class="row section">
    <div class="col-12 section-title">
      <i class="fa fa-street-view mr-3"></i>Sobre Marcelo Roffé</div>
  </div>
  <div class="card mt-4">
    <div class="card-body p-3">
      <div class="media">
        <img class="align-self-top rounded-circle m-2 mr-5" src="assets/img/sobre-mr/marcelo_roffe.jpg" height="120">
        <div class="media-body">
          <div class="s-title mt-2 mb-4">Lic. Marcelo Roffe</div>
          <div class="s-description">
            <p>Licenciado en Psicología ( UBA - 1990 ).</p>
            <p>Master en Psicología del deporte y de la Actividad Física ( UNED-UCM - España ).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <ul class="list-group text-justify">
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>Actual Presidente de SOLCPAD (Sociedad Latinoamericana y del Caribe de Psicologia del deporte y la actividad
          física) / <a href="http://www.solcpad.com" target="blank">www.solcpad.com</a></li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>Presidente de la Asociación de Psicología del Deporte Argentina desde el año 2003 hasta el 2013 (APDA)
          / <a href="http://www.psicodeportes.com" target="blank">www.psicodeportes.com</a></li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>Ex-Responsable desde el año 1995 al 2000 del área en las divisiones juveniles del Club Ferro Carril Oeste
          y desde el año 2000 hasta el 2006 del Área de Psicología del Deporte de las Selecciones Juveniles Argentinas
          de Fútbol, AFA (sub 15, sub 17 y sub 20)</li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>Asesor externo del cuerpo técnico de la selección mayor de fútbol conducido por José Pekerman para el mundial
          2006 de Alemania</li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>Profesor de la Universidad de Buenos Aires (UBA) en actividades de Postgrado y de Grado.</li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>Profesor en el Centro Nacional de Alto Rendimiento ( CeNARD ) en cursos anuales de especialización para
          entrenadores y psicólogos. </li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>Titular de la materia Psicología del deporte en la Universidad de Palermo (UP) donde se está doctorando.</li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>Docente responsable de la especialidad en los cursos anuales de APEFFA (preparadores físicos de fútbol)</li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>Ex Docente responsable de la materia "conducción de equipos de trabajo" en la UAI, en el master de organizacional</li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>En 2013 presentó su nuevo libro “El partido Mental” en 400 frases y 45 temas en México, realizado con la
          colega Mag. Claudia Rivas. El mismo se presento en agosto en la Universidad de Palermo con la presencia de
          Eduardo Sacheri, escritor e historiador y prologuista del mismo y Juan Manuel Herbella y en Paraguay en octubre.
        </li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>En Diciembre del 2013 recibe el diploma de Psicólogo experto en Coaching Deportivo. Curso dictado por el
          Dr. Alejo Garcia Naveira (España) de 100 horas de formación y avalado por la Asociación española de Psicología
          y Coaching Deportivo, por el Colegio de Psicólogos de Madrid y por la Asociación de Psicología del Deporte
          Argentina.
        </li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>En 2014 presentó su décimo libro como compilador junto a Santiago Rivera y autor "Entrenamiento Mental en el fútbol moderno: herramientas prácticas"
        </li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>Desde octubre del 2016 hasta julio del 2017 asesoró al cuerpo técnico de los Jaguares, franquicia argentina del Súper Rugby, liderado por Raul Perez de la UAR
        </li>
        <li class="list-group-item">
          <i class="fa fa-caret-right mr-3"></i>En el primer semestre del 2017 fue el responsable y asesor del Área Psicológica del futbol profesional del Club Ferrocarril Oeste.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="assets/archivos/sobre-mr/CV_Marcelo_Roffe.pdf" target="blank" class="btn btn-primary btn-block s-link pt-3 pb-3 mt-4" role="button">
        <i class="fa fa-download mr-3"></i>Descargar C.V. completo (Español)</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mt-4">
      <a href="assets/archivos/sobre-mr/participacion_reuniones_cientificas.pdf" target="blank" class="btn btn-secondary btn-block s-link p-2"
        role="button">
        <i class="fa fa-flask mr-3"></i>Participación en Reuniones Científicas</a>
    </div>
    <div class="col-md-4 mt-4">
      <a routerLink="/conferencias" class="btn btn-secondary btn-block s-link p-2" role="button">
        <i class="fa fa-globe mr-3"></i>Conferencias Nacionales e Internacionales</a>
    </div>
    <div class="col-md-4 mt-4">
      <a routerLink="/medios" class="btn btn-secondary btn-block s-link p-2" role="button">
        <i class="fa fa-newspaper-o mr-3"></i>Presencia en los Medios</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mt-4">
      <a routerLink="/fotogaleria" class="btn btn-secondary btn-block s-link p-2" role="button">
        <i class="fa fa-camera mr-3"></i>Fotogalería</a>
    </div>
    <div class="col-md-4 mt-4">
      <a routerLink="/videoteca" class="btn btn-secondary btn-block s-link p-2" role="button">
        <i class="fa fa-video-camera mr-3"></i>Videoteca</a>
    </div>
    <div class="col-md-4 mt-4">
      <a routerLink="/rincon" class="btn btn-secondary btn-block s-link p-2" role="button">
        <i class="fa fa-pencil-square-o mr-3"></i>Rincon Literario</a>
    </div>
  </div>
  
</div>