<div class="container-fluid">
  <div class="row section">
    <div class="col-12 section-title">
      <i class="fa fa-globe mr-3"></i>Conferencias Nacionales e Internacionales</div>
  </div>
  <accordion class="mt-4">
    <accordion-group #group [isOpen]="true">
      <div accordion-heading style="cursor: pointer;">
        <i class="fa mr-3" [ngClass]="{'fa-caret-down' : group.isOpen, 'fa-caret-right' : !group.isOpen}"></i>
        <span class="c-titulo">Conferencias Nacionales</span>
      </div>
      <div class="c-description">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body p-3">
                <img class="img-fluid" src="http://marceloroffe.com/assets/img/conferencias-nacionales/conferencias_1.png" alt="Conferencias Nacionales">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body p-3">
                <img class="img-fluid" src="http://marceloroffe.com/assets/img/conferencias-nacionales/conferencias_2.png" alt="Conferencias Nacionales">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body p-3">
                <img class="img-fluid" src="http://marceloroffe.com/assets/img/conferencias-nacionales/conferencias_3.png" alt="Conferencias Nacionales">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body p-3">
                <img class="img-fluid" src="http://marceloroffe.com/assets/img/conferencias-nacionales/conferencias_4.png" alt="Conferencias Nacionales">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <div>Recorriendo el país:</div>
            <div class="mt-2 text-justify">Hemos tenido el honor en todos estos años, a disertar en varios pueblos y ciudades de nuestro querido país.
              Cuando la propuesta es sincera y bien enfocada, hacia allí vamos, planificándolo con tiempo.</div>
            <div class="font-weight-bold mt-4">Desde 1997 estuvimos en:</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mt-3 mb-3">
            <ul class="list-group text-justify">
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Crespo
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Villa Regina
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Azul
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Necochea
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>La Lucila (Mun. de la Costa)
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Santa Fe
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Paraná
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Concordia
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Concepción del Uruguay
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Sunchales
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Mendoza
              </li>
            </ul>
          </div>
          <div class="col-md-4 mt-3 mb-3">
            <ul class="list-group text-justify">                  
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Junín
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>La Punta
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Rafaela
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Córdoba
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>San Francisco
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Cipoletti
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Salta
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Carabelas
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Pergamino
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Olavarría
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Lincoln
              </li>
            </ul>
          </div>
          <div class="col-md-4 mt-3 mb-3">
            <ul class="list-group text-justify">
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>San Carlos
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Funes
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Navarro
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Santiago del Estero
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Misiones
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Rosario
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>La Plata
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Ciudad Autónoma de Buenos Aires
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>San Luis
              </li>
              <li class="list-group-item">
                <i class="fa fa-map-marker mr-3"></i>Firmat
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body p-3">
                <img class="img-fluid" src="assets/img/conferencias-nacionales/1.jpg" alt="Conferencias Nacionales">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body p-3">
                <img class="img-fluid" src="assets/img/conferencias-nacionales/2.jpg" alt="Conferencias Nacionales">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body p-3">
                <img class="img-fluid" src="assets/img/conferencias-nacionales/3.jpg" alt="Conferencias Nacionales">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body p-3">
                <img class="img-fluid" src="assets/img/conferencias-nacionales/4.jpg" alt="Conferencias Nacionales">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mt-3">Nos enorgullece que nos busquen y valoren, porque uno nunca es profeta en su tierra, o casi nunca.</div>
            <div class="font-weight-bold mt-3">Los temas más solicitados son:</div>
              
            <ul class="list-group text-justify mt-3">
              <li class="list-group-item">
                <i class="fa fa-microphone mr-3"></i>Violencia en el deporte                    
              </li>
              <li class="list-group-item">
                <i class="fa fa-microphone mr-3"></i>Presiones de los padres y el entorno
              </li>
              <li class="list-group-item">
                <i class="fa fa-microphone mr-3"></i>Valores en el deporte
              </li>
              <li class="list-group-item">
                <i class="fa fa-microphone mr-3"></i>Trabajo en equipo
              </li>
              <li class="list-group-item">
                <i class="fa fa-microphone mr-3"></i>Liderazgo
              </li>
              <li class="list-group-item">
                <i class="fa fa-microphone mr-3"></i>Comunicación
              </li>
              <li class="list-group-item">
                <i class="fa fa-microphone mr-3"></i>Estrategias motivacionales
              </li>
            </ul>
            
            <div class="mt-4">Han asistido más de 200 personas en algunos lugares y lo hemos disfrutado mucho.</div>
            <div class="mt-2">Para más información de temas y presupuesto, complete nuestro formulario de contacto.</div>
          </div>
        </div>
        <div class="mt-4">
          <iframe src="http://mapsengine.google.com/map/embed?mid=zar1iunDFmK8.kbs0DD8FzNQM" width="100%" height="350"></iframe>
        </div>         
      </div>
    </accordion-group>
    <accordion-group #groupInt [isOpen]="true" style="cursor: pointer;">
      <div accordion-heading>
        <i class="fa mr-3" [ngClass]="{'fa-caret-down' : groupInt.isOpen, 'fa-caret-right' : !groupInt.isOpen}"></i>
        <span class="c-titulo">Conferencias Internacionales</span>
      </div>
      <div class="c-description">
        <iframe src="https://www.google.com/maps/d/embed?mid=1pOqI5S4o4o3DccQYa_soFbyceb4" width="100%" height="350"></iframe>
      </div>
    </accordion-group>
  </accordion>
</div>